.detailsPage {
  color: #3D4067;

  &__card {
    width: 900px;
    background-color:  #F8C5C7;
    margin: 30px auto 0;
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding-bottom: 30px;
  }

  &__main {
    padding: 25px 0;
  }

  &__details {
    width: 400px;
    border: 1px solid #3D4067;
    border-radius: 6px;
    margin: 0 auto;
  }

  &__item {
    height: 35px;
    line-height: 35px;
  }

  &__button {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #e4282f;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
