*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: grey;
}

.app {
  width: 1200px;
  min-height: 100vh;
  background-color: #F9F9FB;
  margin: 0 auto;
  text-align: center;

  &__title {
    color: #E4282F;
    font-size: 36px;
    padding: 20px 0;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #E4282F;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.mainPage {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 auto;
}

.listOfCities {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
}

.detailsPage {
  color: #3D4067;

  &__card {
    width: 900px;
    background-color:  #F8C5C7;
    margin: 30px auto 0;
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding-bottom: 30px;
  }

  &__main {
    padding: 25px 0;
  }

  &__details {
    width: 400px;
    border: 1px solid #3D4067;
    border-radius: 6px;
    margin: 0 auto;
  }

  &__item {
    height: 35px;
    line-height: 35px;
  }

  &__button {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #e4282f;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.itemOfCities {
  margin-right: 20px;
  margin-bottom: 40px;

  &__card {
    display: block;
    width: 200px;
    height: 200px;
    background-color: white;
    color: #3D4067;
    border-radius: 10px;
    box-shadow: 0 15px 15px 0 rgba(0,0,0,.05);
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    padding: 20px 0 30px;
    text-transform: uppercase;
  }

  &__button {
    width: 60px;
    height: 25px;
    border: 1px solid #e4282f;
    background-color: white;
    color: #e4282f;
    border-radius: 6px;
    margin: 10px 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #e4282f;
      color: white;
    }
  }
}

.form {
  width: 400px;
  height: 250px;
  background-color: #E4282F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: relative;

  &__label {
    color: #F8C5C7;
    font-size: 30px;
    margin-bottom: 30px;
  }

  &__input {
    width: 300px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #F8C5C7;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
    margin: 0 auto 30px;
    outline: none;

    &::placeholder {
      text-align: center;
      font-size: 14px;
    }
  }

  &__error {
    color: #3D4067;
    position: absolute;
    top: 150px;
    left: calc(50% - 98px);
  }

  &__button {
    width: 300px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #E95359;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin: 0 auto 20px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

    &:hover {
      background-color: #fff;
      color:  #E95359;
    }
  }
}
